
#header {
  background-color:#333;
}

#breadcrumbBar {
  background-color:#333;
}

#page-body {
  background-color:#333;
}

.pane-frame {
  border-color: #333 !important;
}

 
table.stripped-odd tr:nth-child(2n+1) {
  background: transparent;
}

.model-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.task-link {
  color: #fff;
  font-weight: bold;
}
