
#header {
  background-color:#333;
}

#breadcrumbBar {
  background-color:#333;
}
#breadcrumbBar, #footer-container, .top-sticker-inner {
    background-color: #333;
}

#page-body {
  background-color:#333;
}

.pane-frame {
  border-color: #333 !important;
}

 
table.stripped-odd tr:nth-child(2n+1) {
  background: transparent !important;
}

.bigtable th {
 background-color:#555 !important; 
}
td {
 color:#fff !important; 
}

.jenkins-config {
   background-color:#555 !important; 
}

.model-link {
  color: #fff !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.task-link {
  color: #fff !important;
  font-weight: bold !important;
}

table {
  color:#fff !important;
}

a:link {
    color: #fff !important;
}

.tabBar .tab {
  border-color:#555 !important;
  background-color:#555 !important; 
  color:#fff !important
}

.pane-header {
  border-color:#555 !important;
  background-color:#555 !important; 
  color:#fff !important
}

table.stripped tr:nth-child(2n) {
    background: none !important;
}

a:visited {
    color: #fff !important;
}

#visible-am-button {
  background-color: #801515 !important;
}

#search-box {
  background-color: #555 !important;
  border:0 !important;
  box-shadow:none !important;
  color:#fff !important;
}
